---
import { getCollection } from 'astro:content';
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const steckbriefe = (await getCollection('steckbriefe'));
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header/>
        <main>
            <h1>Bundesliga Team</h1>
            <!--<div class="bg-slate-300 rounded-md w-100 h-90 mb-4 content" >
                
                <img class="rounded-md mr-4" src="/robin.jpg" alt="">
                <div class="content-text">
                    <h2>
                        Robin Walter
                    </h2>
                    <p>
                        Geburtsdatum: 09.07.1999
                        <br>
                        Hobbies: Programmieren, Sportschießen, Elektronik, Basteln
                        <br>
                        Beruf: Student (Informatik)
                        <br>
                        Wohnort: Reichenbach
                        <br>
                        Größten Erfolge:
                        <br>
                        
                    </p>
                </div>
            </div>
            <div class="bg-slate-300 rounded-md w-100 h-90 content">
                <img class="rounded-md mr-4" src="/eduard.jpg" alt="">
                <div class="content-text">
                    <h2>
                        Eduard Baumeister
                    </h2>
                    <p>
                        Geburtsdatum: 12.06.2004
                        <br>
                        Hobbies: Programmieren, Sport, Fahrrad fahren, Golf
                        <br>
                        Beruf: Dualer Student Wirtschaftsinformatik
                        <br>
                        Wohnort: Plankstadt
                        <br>
                        Größten Erfolge:
                        <br>
                    </p>
                </div>
            </div>-->
            <ul>
                {
                    steckbriefe.map((steckbrief)=>{
                        <li class="bg-slate-300 rounded-md w-100 h-90 content">
                                <h2>{steckbrief.data.title}</h2>
                        </li>
                    })
                }
            </ul>
        </main>
        <Footer/>
    </body>
</html>

<style>
    h1{
        text-align: center;
    }
    main{
        width: 100%;
    }
    .content{
        display: flex;
    }

    ul {
        width: 100%;
    }

    ul li{
        width: 100%;
    }
</style>