---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'photo_gallery'>['data'];

const { path, title, description, pubDate, updatedDate, photos } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={(description ? description : '')} />
		<style>
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body >
		<Header />
		<main>
			<h1 class="mb-6" >{title}</h1>

            <div class="flex flex-row overflow-x-scroll pb-5" >
                {
                    photos.map((img) => (
                        <div class="flex flex-col p-1 mx-2" style="min-width: 600px; min-height: max-content;" >
                            <img width={860} height={460} src={img.photo} alt="" />
                            <h4 class="title mt-2">{img.title}</h4>
                        </div>
                    ))
                }
			</div>

            <div class="mb-8"></div>

			<slot />
		</main>
		<Footer />
	</body>
</html>
